<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:player1]} type="text" label="Player1" />
  <.input field={f[:player2]} type="text" label="Player2" />
  <.input field={f[:score1]} type="number" label="Score1" />
  <.input field={f[:score2]} type="number" label="Score2" />
  <:actions>
    <.button>Save Match</.button>
  </:actions>
</.simple_form>
