<.header>
  New Match
  <:subtitle>Use this form to manage match records in your database.</:subtitle>
</.header>

<.match_form changeset={@changeset} action={~p"/matches"} />

<.back navigate={~p"/matches"}>Back to matches</.back>
