<.flash_group flash={@flash} />

<div class="mx-auto max-w-2xl">

  <div class="flex items-center gap-10 ml-10">
    <p class="text-2xl pl-20 pt-20">
      <.link href={~p"/matches"} class="text-zinc-900 hover:text-zinc-700 underline hover:underline-offset-2">
        Table Tennis Scoring System
      </.link>
    </p>
  </div>

  <div class="flex items-center gap-10 mt-10">
    <img src={~p"/images/ping-pong.png"}/>
  </div>

</div>
