<.header>
  Login via any of the providers below:
</.header>

<!-- div class="mt-16" -->
<div class="flex items-center gap-10 mt-10 ml-10">
  <.link href={~p"/auth/github"}
    class=""
    >
    <img src="/images/github.png"/>
  </.link>

  <.link href={~p"/auth/twitter"}
    class="ml-20"
    >
    <img src="/images/twitter.png"/>
  </.link>
</div>
