<.header>
  Edit Player <%= @player.id %>
  <:subtitle>Use this form to manage player records in your database.</:subtitle>
</.header>

<.player_form changeset={@changeset} action={~p"/players/#{@player}"} />

<.back navigate={~p"/players"}>Back to players</.back>
