<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:won]} type="number" label="Won" />
  <.input field={f[:lost]} type="number" label="Lost" />
  <.input field={f[:rating]} type="number" label="Rating" />
  <:actions>
    <.button>Save Player</.button>
  </:actions>
</.simple_form>
